html {
  font-size: 22px;
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: whitesmoke;
}

h1, h2, h3 {
  color: orange;
  font-weight: 800;
}

p.header {
  font-style: italic;
}

ol {
  background-color: #555;
  padding: 25px;
  border-radius: 15px;
}

strong {
  color: yellow;
}

em {
  text-decoration: underline;
}

a{
  color: lightblue;
}

a:hover, a:active {
  color:gold;
}

table, th, td, caption {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
}