html {
  font-size: 22px;
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: whitesmoke;
}


h1, h2, h3 {
  color: lightskyblue;
  font-weight: 800;
}

a{
  color: lightblue;
}

a:hover, a:active {
  color:gold;
}

a:visited {
  color: violet;
}